body{
    font-family: 'Slabo 30px', serif;
    font-size: 0.4cm;
    margin: 0px;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}
  
@media screen and (max-width: 1400) {
    .nav-wrapper {
        font-size: 0.1cm;
    }
    .portfolio-image-background-nice{
        height: 26px;
        width: 100%;
    }
    .portfolio-image-background-home{
        height: 80px;
        width: 100%;
    }
    .portfolio-image-background-about{
        height: 110px;
        width: 150px;
    }
    .portfolio-img-background-blouse{
        height: 18px;
        width: 100%;
    }
    .portfolio-img-background{
        height: 35px;
        width: 100%;
    }
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}
.left-side {
    display: flex;   
}
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
}
.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 1.0em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover{
    border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover{
    color: black;
}
.active-nav-link{
    border-bottom: 1px solid black;
}
.active-nav-link a{
    color: black !important;
}
.portfolio-items-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.portfolio-items-wrapper-home{
    display: grid;
    grid-template-columns: 1fr;
}
.portfolio-items-wrapper-blouse{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.portfolio-item-wrapper{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio-item-wrapper-nodark{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio-img-background{
    height: 350px;
    width: 100%;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
}
.portfolio-image-background-nice{
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.portfolio-image-background-home{
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.portfolio-image-background-about{
    height: 1100px;
    width: 1500px;
    padding-left: 1px;
    background-position: left;
    background-repeat: no-repeat;
}
.portfolio-img-background-blouse{
    height: 180px;
    width: 100%;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
}
.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 160px;
    padding-right: 100px;
    font-size: 0.5cm;
}
.img-text-wrapper-saree{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1cm;
}
.img-text-wrapper .subtitle{
    transition: 0.5s;
    font-size: 1.0cm;
    color: transparent;
}
.img-text-wrapper-saree .subtitle{
    transition: 0.5s;
    font-size: 1.0cm;
    color: transparent;
}
.logo-wrapper img{
    width: 50%;
    margin-bottom: 20px;
}
.img-text-wrapper .subtitle{
    transition: 0.5s;
    font-weight: 1600;
    color: transparent;
}
.img-text-wrapper-saree .subtitle{
    transition: 0.5s;
    font-weight: 1600;
    color: transparent;
}
.img-text-wrapper:hover .subtitle{
    font-weight: 15000;
    color: lightseagreen;
}
.img-text-wrapper-saree:hover .subtitle{
    font-weight: 15000;
    color: lightseagreen;
}
.img-darken{
    transition: 1s;
    filter: brightness(10%);
}
.img-darken-nodark{
    transition: 1s;
    filter: brightness(100%);
}
.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-image-wrapper img{
    width: 100%;
}
.profile-content-wrapper{
    padding: 30px;
}
.profile-content-wrapper h1{
    color: lightseagreen;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
